<!-- <footer class="footer bg-dark py-3 mt-auto text-center">
    <div class="container">
        <span class="text-white">&copy; Trashly 2024</span>
    </div>
</footer> -->

<div class="text-center p-4 mt-auto" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="#">Trashly.com</a>
</div>